section#clients {
   background-image: url(/src/media/images/clients.webp);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    h3 {
         position: relative;
        padding: 20px;
        color: $textColor;
        text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
        @include sec-title-h3;
        border-bottom: 1px solid rgba($color: #fff, $alpha: .8);
        @include SpaceBetween;
    }
    
}