@font-face {
    font-family: "SF Pro Display Regular";
    src: url("./media/fonts/SFPRODISPLAYREGULAR.otf");
    font-display: swap;
  }
  @font-face {
    font-family: "SF Pro Display Medium";
    src: url("./media/fonts/SFPRODISPLAYMEDIUM.otf");
    font-display: swap;
  }